<head>
    <title>Head of TinyApp</title>
</head>

<body>
    <!-- Add your EJS code here -->
    <% if(!username){ %>
        <form method="POST" action="/login">
            <input id="username" type="text" name="username" placeholder="Username" value="" style="width: 300px">
            <input type="submit" name="submit" value="SUBMIT" />
        </form>
        <% } else { %>
            <%=username %>
                <form method="GET" action="/logout">
                    <input id="logout" type="submit" name="logout" value="LOGOUT" />
                </form>
                <% } %>
</body>

</html>