<!-- Login Page presented to the User with the ability to Register New User -->
<!DOCTYPE html>

<html lang="en">

<head>
    <title>Login Page</title>
</head>

<body>
    <h1>Please login to continue </h1>
    <form method="POST" action="/login">
        Username: <input id="email" type="email" name="email" placeholder="abc@mail.com" value="" style="width: 300px"><br>
        Password:  <input id="password" type="password" name="password" placeholder="abc123" value="" style="width: 300px">
        <input type="submit" name="submit" value="Sign In" />
    </form>
    <br><a href="/register">Register as a New User</a>
</body>

</html>