<!DOCTYPE html>
<html lang="en">
        
<head>
</head>

<body>
    <h1>To Register - Please enter your Email and a Password </h1>
    <p>
            <form method="POST" action="/register">
                <input id="email" type="email" name="email" placeholder="abc@mail.com" value="" style="width: 300px">
                <input id="password" type="password" name="password" placeholder="abc123" value="" style="width: 300px">
                <input type="submit" name="update" value="Register" />
            </form>
    </p>
</body>

</html>