<!-- Page that shows the list of all URLS belonging to the User -->
<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body>
    <!-- Add your EJS code here -->
    <% include ./partials/_header %>    <br>
    <p>
        <%for(let element in urls){ %>
            <p>
                <%=urls[element] %>
            </p>
            <p>
                <%=element %>
            </p>
            <form method="POST" action="/urls/<%=element %>/delete">
                <input type="submit" name="delete" value="Delete" />
                <a href="/urls/<%=element %>">Edit</a>
            </form>
            <% } %>
    </p>
    <br><br><br><a href="/urls/new">Add a new URL</a>
</body>

</html>
<p>