<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body>
    <!-- Add your EJS code here -->
    <% include ./partials/_header %>

        <p>
            <%for(var element in urls){ %>
                <% if (element === shortURL ) { %>
                    <%= element %> :
                        <%= urls[element] %>
                            <br>
                            <% } %>
                                <% } %>
        </p>
        <form method="POST" action="/urls/<%=shortURL %>/update">
            <input id="longURL" type="text" name="longURL" placeholder="http://" value="<%= urls[shortURL] %>" style="width: 300px">
            <input type="submit" name="update" value="Update" />

        </form>


</body>

</html>